/* GENERICS */

body{
    font-family: sans-serif;
    color: white;
}
h2, h3{
    color: black;
    margin: 10px 0;
}

section{
    margin-bottom: 50px;
}

.row > [class^='col']{
    background-color: dodgerblue;
    min-height: 50px;
    border: 1px solid white;
}

.row .row > [class^='col']{
    background-color: rgb(20, 234, 0);
    border: 1px solid dodgerblue;
}