/* GENERICS */

body{
    font-family: sans-serif;
    color: white;
}

section{
    margin-bottom: 50px;
}

.row{
    background-color: black;
}

.row > [class^='col']{
    background-color: dodgerblue;
    min-height: 50px;
    border: 1px solid white;
    padding: 10px;
}

.row .row > [class^='col']{
    background-color: rgb(20, 234, 0);
    border: 1px solid dodgerblue;
}